body {
	margin-top: 50px;
}

footer {
	background-color: #fff3e0;	
	color: #e65100;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

.list-group-item-heading {
	background-color: #fff3e0;	
}

footer h6 {
	color: #e65100;
}

footer ul {
	list-style: none;
	color: aqua;
	margin-left: -2em;
}

footer a.btn {
	background-color: #ffd180;
	color: #e65100;
}

.bg-nav {
	background-color: #ffcc80;
}

.MarTop20 {
	margin-top: 20px;
}

.MarBot20 {
	margin-bottom: 20px;
}

.MarRight10 {
	margin-right: 10px;
}

.MarLeft30 {
	margin-left: 30px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.PadRight20 {
	padding-right: 20px;
}

.PadRight5 {
	padding-right: 5px;
}

nav .form-control, nav .input-group-addon {
	background-color: #ffcc80;
}

.user-card .card-block{
	font-size: 12px;
	color: gray;
}

.user-card .img-fluid {
	margin-top: -10px;
}

.muteText {
	color: gray;
}

.Fs20 {
	font-size: 20px;
}

.Fs24 {
	font-size: 24px;
}

.Fs12 {
	font-size: 12px;
}

.page-title {
	color: #e65100;
}