body {
	margin-top: 50px;
}

footer {
	background-color: #e65100;	
	color: #ffb74d;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

footer h6 {
	color: #ffd180;
}

footer ul {
	list-style: none;
	color: aqua;
	margin-left: -2em;
}

footer a.btn {
	background-color: #ffd180;
	color: #e65100;
}

.bg-nav {
	background-color: #ffcc80;
}

.MarTop20 {
	margin-top: 20px;
}

.MarBot20 {
	margin-bottom: 20px;
}

.MarRight10 {
	margin-right: 10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}