.MarRight5 {
	margin-right: 5px;
}

.MarRight10 {
	margin-right: 10px;
}

.MarTop20 {
	margin-top: 20px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex : 1 0 auto;
}

.fs18 {
	font-size: 18px;
}

.fs24 {
	font-size: 24px;
}

.fullWidthImage {
	min-width: 100%;
	min-height: auto;
}