.container {
	width: 90%;
}

.MarRight10 {
	margin-right: 10px;
}

.MarTop20 {
	margin-top: 20px;
}

.MarTop10 {
	margin-top: 10px;
}

.MarBot10 {
	margin-bottom: 10px;
}

.fs12 {
	font-size: 12px;
}

.fs22 {
	font-size: 22px;
}

.fs30 {
	font-size: 30px;
}

.leftColumn {
	vertical-align: top;
	color: gray;
}